body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.countainer{
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 500px;
    justify-content: center;
}
.countainer h1{
    align-self: center;
    font-size: 50px;
}
.countainer p{
    text-indent: 60px;
    line-height: 23px;
    font-size: 20px;
}
.countainer .texto-animado{
    font-size: 35px;
}